<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">

</head>
<body>
  <nav class="topnav">
    <a class="home" href="/">Home</a>
    <a class="home" href="/plants">View all plants</a>
    <a class="home" href="/nurseries">View all nurseries</a>
    <a class="home" href="/plants/plant_type">Select Plant Type</a>
  </nav>


  <img class="hero" src="/images/plant_life_logo.jpg"/>

  <%= yield %>

</body>

</html>
