<div class='container' id="home-container">
<div id="create-container" class="container">
  <br>
  <h1>Add Nursery</h1>
  <form class="form-nursery" action="/nurseries" method="post">
    <label class="label-nursery" for="name">Name</label>
    <input class="input-nursery" type="text" name="name">

    <label class="label-nursery" for="location">Location</label>
    <input class="input-nursery" type="text" name="location">

    <input class="save-nursery" type="submit" value="Save">
  </form>
</div>
